@import "../theme/theme";

  .main_layout_dashboard {
    display: flex;
    flex-direction: column;
    background-color: #f7f7ff;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: $general-font;
    

  .layout-content {
    flex: 1;
    display: flex;
    flex-direction: column;
 
    
    
  }

}