.shared-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;

    .icon{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 25px;
        padding-bottom: 1em;
    }

}