@import "../theme/theme";

.first-container-account{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: $primary ;
    
}
.banner {
    display: none !important;
}