@import "../theme/theme";

.first-container-order{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: $primary ;
    
   

}

order-history{
    display: flex;
    justify-content: center;
}

table.MuiTable-root.makeStyles-table-1 {
    border-spacing: 0px 25px;
    border-collapse: separate;
}
tr.MuiTableRow-root.MuiTableRow-head {
    box-shadow: none;
}

.MuiTableCell-head {
    font-weight: 700 !important;
    line-height: 0 !important;
}

table{
    margin: 30px auto 50px;

    th{
        color: #334D5E !important;
        border: none !important;
    }

    td{
        color: #a1a1a1 !important;
        border: none !important;
    }
    tr{
        box-shadow: 7px 9px 20px 6px #efefef;;
    }

    .view-link{
        color: #334D5E !important;
    }
}

@media (min-width: 1600px) {
    .makeStyles-table-1,
    .makeStyles-table-2,
    .makeStyles-table-3,
    .makeStyles-table-4,
    .makeStyles-table-5,
    .makeStyles-table-6,
    .makeStyles-table-7,
    .jss1,.jss2,.jss3,.jss4,
    .jss5,.jss6,.jss7 {
        max-width: 70% !important;
    }
}

@media (min-width: 1600px) AND (max-width: 1800px) {
    .MuiTableCell-root {
        font-size: 1.5rem!important;
    }
}

@media (min-width: 1800px) AND (max-width: 2000px) {
    .MuiTableCell-root {
        font-size: 1.6rem!important;
    }
}

@media (min-width: 2000px) AND (max-width: 2200px) {
    .MuiTableCell-root {
        font-size: 1.7rem!important;
    }
}

@media (min-width: 2400px) {
    .MuiTableCell-root {
        font-size: 1.8rem!important;
    }
}